@font-face {
    font-family: "Homer_Simpson";
    src: url('../Design/Font/Homer_Simpson.ttf');
}
.Menu > nav ul li {
    list-style: none;
    width: 400px;
    font-family: 'Homer_Simpson';
    font-size: 300%;
    font-weight: bolder;
    color: yellow;
    text-shadow: 2px 2px 2px 2px black;
    background-color: transparent;
    border: none;

}