@font-face {
    font-family: "Homer_Simpson";
    src: url('../Design/Font/Homer_Simpson.ttf');
}
nav ul li {
    display: flex;
    justify-content: center;
    text-align: center;
    list-style: none;
    font-family: 'Homer_Simpson';
    font-size: 3em;
    font-weight: 600;
    color: #FEDE2B;
    cursor: pointer;
    text-shadow: 2px 2px 2px 3px black;
}

nav {
    margin-top: 50%;
}